<div class="row">
  <header class="twelve columns">
    <h1>Yet another blog example</h1>
  </header>
</div>

<div class="row">
  <div class="twelve columns" id="new_post">
    <%= form_for @entry do |f| %>
      <%= f.label :user %>
      <%= f.text_field :user, :required => true %>

      <%= f.label :email %>
      <%= f.email_field :email, :required => true %>

      <%= f.label :homepage %>
      <%= f.url_field :homepage %>

      <%= f.label :body %>
      <%= f.text_area :body, :required => true, :rows => 10, :cols => 30 %>

      <%= f.submit %>

    <% end %>
  </div>
</div>

<div class="row">
  <div class="twelve columns" id="posts">
  </div>
</div>

<% content_for :javascript_extra do -%>
  <script>

    function insertEntry(entry) {
      var e = $('<article></article>');

      console.log(entry);

      e.addClass("post");
      e.attr('id', entry.id);

      e.append("<h4>Von " + entry.user + " &lt;" + entry.email + "&gt;</h4>");
      e.append("<p>" + entry.body + "</p>")

      $("#posts").prepend(e);
      return e;
    }


    jQuery(function( $ ) {

      $.getJSON('/entries.json', function(data) {
        for (index in data) {
          insertEntry( data[index] );
        }
      });


      $('form').submit(function(event) {
        event.preventDefault();

        $form = $(event.target);

        $.post('/entries', $form.serialize(), function(data) {
          $entry = insertEntry(data);
          $entry.hide();
          $entry.slideDown('slow')

          $form[0].reset();

          jSuccess('Eintrag gespeichert', {
            autoHide : true,
            HorizontalPosition : 'center',
            VerticalPosition : 'top',
            ShowOverlay : false
          });
        });

      });

    });

  </script>
<% end -%>


